/* Diğer stillendirme kodları */

nav {
    background-color: #008080; /* Turkuaz rengi */
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
    font-size: 24px; /* Logo boyutu */
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-links li:first-child {
    margin-left: auto; /* En sağa hizalama */
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Metin kalınlığı */
    transition: color 0.3s ease; /* Renk geçişi */
  }
  
  .nav-links a:hover {
    color: #00b3b3; /* Turkuazın bir tonu */
  }
  
  .video-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  }
  
  #video-section {
    margin-bottom: 20px;
    float: left; /* Sol tarafa yerleştirme */
    width: 60%; /* Genişlik ayarı */
  }
  
  #comments-section {
    margin-top: 20px;
    float: left; /* Sol tarafa yerleştirme */
    width: 40%; /* Genişlik ayarı */
  }
  
  #video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  #video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px; /* Kenar yuvarlama */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  }
  
  #comment-form {
    margin-top: 10px;
  }
  
  #comment-form button {
    background-color: #008080; /* Turkuaz rengi */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px; /* Buton kenarlığı */
    border-radius: 5px; /* Kenar yuvarlama */
    transition: background-color 0.3s ease; /* Renk geçişi */
  }
  
  #comment-form button:hover {
    background-color: #00b3b3; /* Turkuazın bir tonu */
  }
  